.navbar {
    background-color: #DEF5E5 ;
}

.card {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;
}

.card-body {
    background-color: #D6E4E5;
}

.list-group-item {
    background-color: #EFF5F5;
}